h1{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-family: 'Karla', sans-serif;
}
p{
    color: green;
    font-weight: 200;
    font-style: italic;
    font-size: 3vw;
    font-family: 'Karla', sans-serif;
}