h1{
    font-size: 100px;
    text-align:center;
    text-shadow: 5px 4px 5px
}
.box{
    text-align:center;
    width:300px;
    height: 300px;
    margin:auto;
    border: 2px solid rgb(0, 0,0,.5);
    box-shadow:5px 5px 2px rgb(0,0,0,0.5),-5px -5px 2px rgb(0,0,0,0.5) ;
    
}
.box img{
    width:100%;
}
h3{
    margin:0;
}